@media screen and (max-width: 550px) {
    .card{
        border: 1px solid black;
        display: flex;
        align-items: center;
        gap: 20px;
        direction: ltr;
        background-color: white;
        padding: 8px 12px;
        width: 90%;
        margin: 0 auto 16px;
        border-radius: 10px;
    }
    .card img{
        object-fit: contain;
    }
    .card .ecole_nom{
        font-size: 18px;
    }
    .card .location{
        color: hsl(0, 0%, 50%);
        font-size: 12px;
    }
}