@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-serif)
}

:root{
    --font-serif: "Noto Naskh Arabic", serif;
    --font-sans: "Playpen Sans Arabic", cursive;
    --bg-color: #F7F7F7;
}

body{
    direction: rtl;
    background-color: var(--bg-color);
}

@media screen and (max-width: 550px) {
    .moroccan_image{
        width: 50px;
        height: 50px;
        margin: auto;
    }
    .moroccan_image img{
        object-fit: contain;
    }
    .introduction{
        text-align: center;
    }
    .introduction span{
        color: red;
        font-family: var(--font-sans)
    }
    .introduction .title{
        font-size: 40px;
        font-family: "Playpen Sans Arabic", cursive;
        margin: 10px 0;
    }
    .introduction .subtitle{
        font-size: 18px;
        font-weight: 500;
        width: 360px;
        margin: 10px auto 16px;
    }
    hr{
        width: 95%;
        margin: 20px auto;
    }
    main{
        direction: ltr;
    }
    a{
        text-decoration: none;
        color: black;
    }
}