@media screen and (max-width: 550px) {
    header{
        /* width: 80%;
        margin: 0 auto; */
        margin: 0 30px;
    }
    .moroccanLogo{
        text-align: center;
        margin-bottom: var(--margin-bottom-1);
    }
    .headline{
        font-family: var(--font-sans);
        font-size: var(--headline-phone-size);
        text-align: center;
        margin-bottom: var(--margin-bottom-1);
    }
    span{
        color: var(--secondary-color);
    }
    .subheadline{
        text-align: center;
        font-size: var(--parag-phone-size);
        font-family: var(--font-serif);
        margin-bottom: var(--margin-bottom-1);
    }
    .input{
        position: relative;
        margin-bottom: var(--margin-bottom-1);
    }
    .searchInput{
        width: 100%;
        margin: auto;
        height: 40px;
        border-radius: var(--border-raduis-1);
        border: none;
        outline: none;
        padding: 0 12px;
        font-family: var(--font-serif);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .searchIcon{
        position: absolute;
        left: 8px;
        top: 8px;
    }
    .schools h1{
        font-family: var(--font-serif);
        font-size: var(--title-phone-size);
        margin: 0 30px var(--margin-bottom-1);
    }
    .cards{
        width: 100%;
        display: flex;
        gap: 16px;
        overflow-x: scroll;
        scrollbar-width: none;
        margin-bottom: var(--margin-bottom-1);
        padding-right: 30px;
    }
    .card img{
        border-radius: var(--border-raduis-2);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .majors{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 30px var(--margin-bottom-1);
    }
    .majors h1{
        font-family: var(--font-serif);
        font-size: var(--title-phone-size);
    }
    .majors .more{
        display: flex;
        align-items: center;
        gap: 2px;
    }
    .majorImage{
        object-fit: cover;
    }
    .majorName{
        font-family: var(--font-serif);
        font-size: var(--link-size);
    }
    .ctaSection{
        margin-bottom: var(--margin-bottom-1);
        text-align: center;
        font-family: var(--font-serif);
    }
    .ctaSection .title{
        width: 60%;
        margin: auto;
        line-height: 2.5rem;
        font-weight: 100;
        margin-bottom: var(--margin-bottom-1);
        &>span{
            font-weight: 900;
        }
    }
    .ctaSection .subTitle{
        width: 80%;
        margin: auto;
        margin-bottom: var(--margin-bottom-1);
    }
    .ctaSection .ctaBtn,
    .feedback .sendBtn{
        padding: 10px 36px;
        font-size: var(--link-size);
        margin-bottom: var(--margin-bottom-1);
        font-family: var(--font-serif);
        border-radius: var(--border-raduis-2);
        border: none;
        background-color: var(--secondary-color);
        color: #ffffff;
    }
    .ctaSection .ctaBtn:active,
    .feedback .sendBtn:active{
        background-color: var(--hover-color);
    }
    .feedback{
        text-align: center;
        margin-bottom: var(--margin-bottom-1);
        font-family: var(--font-serif);
    }
    .feedback .title{
        font-weight: 400;
        margin-bottom: var(--margin-bottom-3);
        &>span{
            font-weight: 900;
        }
    }
    .feedback .subtitle{
        width: 70%;
        margin: auto;
        margin-bottom: var(--margin-bottom-1);
    }

    .feedback .inputs{
        width: 85%;
        margin: auto;
        margin-bottom: var(--margin-bottom-1);
    }
    .feedback .inputs input{
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: var(--margin-bottom-2);
        border-radius: var(--border-raduis-2);
        border: none;
        padding: 0 10px;
        outline: none;
        font-size: var(--link-size);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .feedback .inputs textarea{
        width: 100%;
        height: 80px;
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 6px 10px;
        border-radius: var(--border-raduis-2);
        font-size: var(--link-size);
    }
    footer{
        background-color: var(--secondary-color);
        color: white;
        text-align: center;
        padding: 10px 0;
        font-family: var(--font-serif);
    }
    footer .msg{
        margin-bottom: var(--margin-bottom-3);
        font-size: var(--link-size);
    }
    footer .madewithlove{
        font-family: var(--font-inter);
    }
    .ecoles{
        display: flex;
        flex-direction: column;
        align-items: center;    
        gap: 18px;
        width: 90%;
        margin: auto;
    }
    .ecoles .ecole{
        direction: ltr;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: var(--border-raduis-2);
        padding: 8px 12px 10px;
    }
    .ecole .ecole_name{
        font-size: var(--link-size);
        font-family: var(--font-inter);
        font-weight: 400;
        margin-bottom: var(--margin-bottom-3);
    }
    .ecole .ecole_city{
        font-family: var(--font-inter);
        font-size: calc(var(--link-size) / 1.1);
        color: #393E46;
        font-style: italic;
    }
    .filter{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: auto;
        margin-left: 21px;
        margin-top: 15px;
        margin-bottom: var(--margin-bottom-1);
        padding: 8px 16px;
        border: none;
        border-radius: var(--border-raduis-2);
        background-color: var(--secondary-color);
        color: white;
        font-size: var(--link-size);
        font-family: var(--font-inter);
    }
    .filter:active{
        background-color: var(--hover-color);
    }
}